body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen {
  background-color: rgb(87, 87, 87);
  color: white;
  width: 100%;
}

.touch {
  width: 25%;
}

.row {
  display: flex;
  flex-flow: row wrap;

}

.calcul {
  width: 50vw;

}
